<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proton-LT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>{{ building_name }}</h1>
<div class="container">
    {% for file in photos %}
    <p></p>
    <img src="{{ url_for('static',  filename=file) }}" alt="file"
         class="center">
    {% set info = file.split("/")[-1] %}
    {% set date = info.split("--")[0] %}
    {% set number = info.split("--")[1] %}
    <h4>Найдено {{ date }} возле кабинета номер {{ number }}.</h4>
    {% endfor %}
</div>
</body>
</html>
