<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proton-LT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>
<body>
<h1>{{ building_name }}</h1>
<h5>(Школа {{ building_num }})</h5>
<div>
    <div class="building">

        <div class="thingrow">
            <div class="thingcolumn">
                {% for file in photos[0::3] %}
                {% set info = file.split("/")[-1] %}
                {% set date = '.'.join(info.split("--")[0].split('-')) %}
                {% set number = info.split("--")[1] %}
                <div class="thing">
                    <img class="round" src="{{ url_for('static',  filename=file) }}" width="400" alt="">
                    <h7>Найдено {{ date }}</h7>
                    <h8>Кабинет {{ number }}</h8>
                </div>
                {% endfor %}
            </div>
            <div class="thingcolumn">
                {% for file in photos[1::3] %}
                {% set info = file.split("/")[-1] %}
                {% set date = '.'.join(info.split("--")[0].split('-')) %}
                {% set number = info.split("--")[1] %}
                <div class="thing">
                    <img class="round" src="{{ url_for('static',  filename=file) }}" width="400" alt="">
                    <h7>Найдено {{ date }}</h7>
                    <h8>Кабинет {{ number }}</h8>
                </div>
                {% endfor %}
            </div>
            <div class="thingcolumn">
                {% for file in photos[2::3] %}
                {% set info = file.split("/")[-1] %}
                {% set date = '.'.join(info.split("--")[0].split('-')) %}
                {% set number = info.split("--")[1] %}
                <div class="thing">
                    <img class="round" src="{{ url_for('static',  filename=file) }}" width="400" alt="">
                    <h7>Найдено {{ date }}</h7>
                    <h8>Кабинет {{ number }}</h8>
                </div>
                {% endfor %}
            </div>
        </div>
<!--        <p></p>-->
<!--        <a href="{{ url_for('static',  filename=file) }}" class="gallery-item"-->
<!--           title="Найдено {{ date }} возле кабинета номер {{ number }}.">-->
<!--        <div class="gallery-item-hover">-->
<!--        <h2>Найдено {{ date }} возле кабинета номер {{ number }}.</h2>-->
<!--        </div>-->
<!--                <img src="{{ url_for('static',  filename=file) }}" alt="alt" name="Найдено {{ date }} возле кабинета номер {{ number }}.">-->
<!--      </a>-->
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>-->
<!--  <script>-->
<!--    $(".gallery-list").magnificPopup({-->
<!--      delegate: "a",-->
<!--      type: "image",-->
<!--      gallery: {-->
<!--        enabled: true-->
<!--      },-->
<!--      image: {-->
<!--  markup: '<div class="mfp-figure">'+-->
<!--            '<div class="mfp-close"></div>'+-->
<!--            '<div class="mfp-img"></div>'+ // Floated left-->
<!--            '<div class="mfp-title"></div>'+ // This is floated right shows up on the right side-->
<!--            '<div class="mfp-bottom-bar">'+-->
<!--              '<div class="mfp-counter"></div>'+-->
<!--            '</div>'+-->
<!--          '</div>', // Popup HTML markup. `.mfp-img` div will be replaced with img tag, `.mfp-close` by close button-->

<!--  cursor: 'mfp-zoom-out-cur', // Class that adds zoom cursor, will be added to body. Set to null to disable zoom out cursor.-->

<!--  tError: '<a href="%url%">The image</a> could not be loaded.' // Error message-->
<!--  },-->
<!--    });-->
<!--  </script>-->
<div class="label">
    <div class="labelimage">
        <img src="static/photos/main.jpg" width="100" height="45"  alt="">
        <h10>2023</h10>
    </div>
    <div class="labeltext">
        <h9>Backend: Артём Шараев,</h9>
        <h9>Frontend: Максим Киселёв</h9>
    </div>
</div>
</body>
</html>
