<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Потеряшки</title>
    <link rel="icon" type="images/x-icon" href="static/images/logo.ico"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@500&display=swap"
          rel="stylesheet">


</head>
<body>
<h1>Потеряшки</h1>
<h5>Lost Things</h5>
<hr>
<br>
<h2>Выберите своё здание:</h2>
<div class="container">
    <div class="item">
        <a class="container-button container-button_2" href="/BF15"></a>
        <h7>Большая Филёвская, дом 15</h7>
        <h8>(Бывшая школа 72)</h8>
    </div>
    <div class="item">
        <a class="container-button container-button_1" href="/B15-3"></a>
        <h7>Барклая, дом 15, к. 3</h7>
        <h8>(Бывшая школа 1497)</h8>
    </div>
    <div class="item">
        <a class="container-button container-button_3" href="/N19"></a>
        <h7>Новозаводская, дом 19</h7>
        <h8>(Бывшая школа 737)</h8>
    </div>
</div>
<div class="container">
    <div class="item">
        <a class="container-button container-button_4" href="/FB13-2"></a>
        <h7>Филёвский б-р, дом 13, к. 2</h7>
        <h8>(Бывшая школа 1114)</h8>
    </div>
    <div class="item">
        <a class="container-button container-button_5" href="/FB3-2"></a>
        <h7>Филёвский б-р, дом 3, к. 2</h7>
        <h8>(Бывшая школа 1114)</h8>
    </div>
</div>
<br></br>
</body>
</html>
