/* (A) WHOLE PAGE */
* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

/* (B) GALLERY WRAPPER */
.gallery {
    /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;

    /* (B2) OPTIONAL WIDTH RESTRICT */
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align: center;
    text-align: center;
}

/* (C) GALLERY IMAGES */
.gallery img {
    /* (C1) DIMENSION */
    width: 350px;
    height: 100%; /* optional */
    padding: 10px;
}

/* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
@media only screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* (F) FULLSCREEN MODE */
.gallery img.full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.7);
}

.gallery img.full:hover {
    z-index: 999;
    transform: none;
}